# Name : Prajwal Kola
# Roll No : 33
# Batch : 02
# Expt-5: Disease Prediction using Naive Bayes and Neural Network with Comparison of Classifiers

In [3]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, classification_report

In [4]:
data = load_breast_cancer()
x = data.data
y = data.target

print("Classes:", data.target_names)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

Classes: ['malignant' 'benign']

In [11]:
print(data.data.shape)

(569, 30)

In [13]:
import pandas as pd

In [15]:
df = pd.DataFrame(data.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [17]:
df.isnull()
df.info()
df.describe()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       569 non-null    float64
 1   1       569 non-null    float64
 2   2       569 non-null    float64
 3   3       569 non-null    float64
 4   4       569 non-null    float64
 5   5       569 non-null    float64
 6   6       569 non-null    float64
 7   7       569 non-null    float64
 8   8       569 non-null    float64
 9   9       569 non-null    float64
 10  10      569 non-null    float64
 11  11      569 non-null    float64
 12  12      569 non-null    float64
 13  13      569 non-null    float64
 14  14      569 non-null    float64
 15  15      569 non-null    float64
 16  16      569 non-null    float64
 17  17      569 non-null    float64
 18  18      569 non-null    float64
 19  19      569 non-null    float64
 20  20      569 non-null    float64
 21  21      569 non-null    float64
 22  22      569 non-null    float64
 23  23      569 non-null    float64
 24  24      569 non-null    float64
 25  25      569 non-null    float64
 26  26      569 non-null    float64
 27  27      569 non-null    float64
 28  28      569 non-null    float64
 29  29      569 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [21]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

# EXP PART 1

# Logistic Regression

In [22]:
lr = LogisticRegression(max_iter=5000)
lr.fit(x_train, y_train)
pred_lr = lr.predict(x_test)
print("Logistic TestAccuracy:", accuracy_score(y_test, pred_lr))
pred_lr_train = lr.predict(x_train)
print("Logistic TrainAccuracy:", accuracy_score(y_train, pred_lr_train))

Logistic TestAccuracy: 0.9298245614035088
Logistic TrainAccuracy: 0.9673366834170855

# Decision Tree

In [24]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
pred_dt = dt.predict(x_test)
print("Decision Tree TestAccuracy:", accuracy_score(y_test, pred_dt))
pred_dt_train = dt.predict(x_train)
print("Decision Tree TrainAccuracy:", accuracy_score(y_train, pred_dt_train))

Decision Tree TestAccuracy: 0.9005847953216374
Decision Tree TrainAccuracy: 1.0

# KNN

In [25]:
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)
pred_knn = knn.predict(x_test)
print("KNeighborsClassifier " , accuracy_score(y_test , pred_knn))
pred_knn_train =  lr.predict(x_train)
print("KNeighborsClassifier", accuracy_score(y_train , pred_knn_train))

KNeighborsClassifier  0.935672514619883
KNeighborsClassifier 0.9673366834170855

# Naive Bayes

In [31]:
nb = GaussianNB()
nb.fit(x_train,y_train)
pred_nb = nb.predict(x_test)
print("GaussianNB " , accuracy_score(y_test , pred_nb))
pred_nb_train =  nb.predict(x_train)
print("GaussianNB", accuracy_score(y_train , pred_nb_train))

GaussianNB  0.9239766081871345
GaussianNB 0.957286432160804

# Neural Network

In [30]:
nn =  MLPClassifier()
nn.fit(x_train,y_train)
pred_nn = nn.predict(x_test)
print("GaussianNB " , accuracy_score(y_test , pred_nn))
pred_nn_train =  nn.predict(x_train)
print("GaussianNB", accuracy_score(y_train , pred_nn_train))

GaussianNB  0.9298245614035088
GaussianNB 0.957286432160804

/usr/local/lib/python3.12/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
precision_lr = precision_score(y_test, pred_lr)

In [37]:
precision_lr = precision_score(y_test, pred_lr)
recall_lr = recall_score(y_test, pred_lr)
f1_lr = f1_score(y_test, pred_lr)
roc_auc_lr = roc_auc_score(y_test, pred_lr)

# EXP PART 2

# Confusion Matrix

# Logistic Regression

In [42]:
cm_lr = confusion_matrix(y_test , pred_lr)
print("\nDecision Tree confusion Matrix:")
print(cm_lr)
TN2 , FP2 , FN2 , TP2 = cm_lr.ravel()
type1_lr = FP2/(FP2 + TN2)
type2_lr = FN2/(FN2 + TP2)

print("FP(Type:- ",FP2)
print("FP(Type:- " ,FN2)
print( "type-1 Error Rate in %:" , type1_lr*100)
print( "type-2 Error Rate in %:" , type2_lr*100)




precision = precision_score(y_test, pred_lr)
recall = recall_score(y_test, pred_lr)
f1 = f1_score(y_test,pred_lr)
roc = roc_auc_score(y_test, pred_lr)


print("\n===== RESULTS =====")


print("Precision :", precision)
print("Recall :", recall)
print("F1-score :", f1)
print("ROC-AUC :", roc)

Decision Tree confusion Matrix:
[[61  8]
 [ 4 98]]
FP(Type:-  8
FP(Type:-  4
type-1 Error Rate in %: 11.594202898550725
type-2 Error Rate in %: 3.9215686274509802

===== RESULTS =====
Precision : 0.9245283018867925
Recall : 0.9607843137254902
F1-score : 0.9423076923076923
ROC-AUC : 0.9224211423699915

# Decision Tree

In [40]:
cm_dt = confusion_matrix(y_test , pred_dt)
print("\nDecision Tree confusion Matrix:")
print(cm_dt)
TN2 , FP2 , FN2 , TP2 = cm_dt.ravel()
type1_dt = FP2/(FP2 + TN2)
type2_dt = FN2/(FN2 + TP2)

print("FP(Type:- ",FP2)
print("FP(Type:- " ,FN2)
print( "type-1 Error Rate in %:" , type1_dt*100)
print( "type-2 Error Rate in %:" , type2_dt*100)




precision = precision_score(y_test, pred_dt)
recall = recall_score(y_test, pred_dt)
f1 = f1_score(y_test,pred_dt)
roc = roc_auc_score(y_test, pred_dt)


print("\n===== RESULTS =====")


print("Precision :", precision)
print("Recall :", recall)
print("F1-score :", f1)
print("ROC-AUC :", roc)

Decision Tree confusion Matrix:
[[61  8]
 [ 9 93]]
FP(Type:-  8
FP(Type:-  9
type-1 Error Rate in %: 11.594202898550725
type-2 Error Rate in %: 8.823529411764707

===== RESULTS =====
Precision : 0.9207920792079208
Recall : 0.9117647058823529
F1-score : 0.916256157635468
ROC-AUC : 0.8979113384484227

# KNN

In [41]:
cm_knn = confusion_matrix(y_test , pred_knn)
print("\nKNeighborsClassifier:")
print(cm_knn)
TN2 , FP2 , FN2 , TP2 = cm_knn.ravel()
type1_knn = FP2/(FP2 + TN2)
type2_knn = FN2/(FN2 + TP2)

print("FP(Type:- ",FP2)
print("FP(Type:- " ,FN2)
print( "type-1 Error Rate in %:" , type1_knn*100)
print( "type-2 Error Rate in %:" , type2_knn*100)




precision = precision_score(y_test, pred_knn)
recall = recall_score(y_test, pred_knn)
f1 = f1_score(y_test,pred_knn)
roc = roc_auc_score(y_test, pred_knn)

print("\n===== RESULTS =====")


print("Precision :", precision)
print("Recall :", recall)
print("F1-score :", f1)
print("ROC-AUC :", roc)

KNeighborsClassifier:
[[62  7]
 [ 4 98]]
FP(Type:-  7
FP(Type:-  4
type-1 Error Rate in %: 10.144927536231885
type-2 Error Rate in %: 3.9215686274509802

===== RESULTS =====
Precision : 0.9333333333333333
Recall : 0.9607843137254902
F1-score : 0.9468599033816425
ROC-AUC : 0.9296675191815857

# Naive Bayes

In [43]:
cm_GNB= confusion_matrix(y_test , pred_GNB)
print("\n GaussianNB:")
print(cm_GNB)
TN2 , FP2 , FN2 , TP2 = cm_GNB.ravel()
type1_GNB = FP2/(FP2 + TN2)
type2_GNB = FN2/(FN2 + TP2)

print("FP(Type:- ",FP2)
print("FP(Type:- " ,FN2)
print( "type-1 Error Rate in %:" , type1_GNB*100)
print( "type-2 Error Rate in %:" , type2_GNB*100)




precision = precision_score(y_test, pred_GNB)
recall = recall_score(y_test, pred_GNB)
f1 = f1_score(y_test,pred_GNB)
roc = roc_auc_score(y_test, pred_GNB)


print("\n===== RESULTS =====")


print("Precision :", precision)
print("Recall :", recall)
print("F1-score :", f1)
print("ROC-AUC :", roc)

 GaussianNB:
[[60  9]
 [ 4 98]]
FP(Type:-  9
FP(Type:-  4
type-1 Error Rate in %: 13.043478260869565
type-2 Error Rate in %: 3.9215686274509802

===== RESULTS =====
Precision : 0.9158878504672897
Recall : 0.9607843137254902
F1-score : 0.937799043062201
ROC-AUC : 0.9151747655583974

# Neural Network

In [45]:
cm_MLB = confusion_matrix(y_test , pred_MLB)
print("\nMLPClassifier:")
print(cm_MLB)
TN2 , FP2 , FN2 , TP2 = cm_MLB.ravel()
type1_MLB= FP2/(FP2 + TN2)
type2_MLB = FN2/(FN2 + TP2)

print("FP(Type:- ",FP2)
print("FP(Type:- " ,FN2)
print( "type-1 Error Rate in %:" , type1_MLB*100)
print( "type-2 Error Rate in %:" , type2_MLB*100)




precision = precision_score(y_test, pred_MLB)
recall = recall_score(y_test, pred_MLB)
f1 = f1_score(y_test,pred_MLB)
roc = roc_auc_score(y_test, pred_MLB)


print("\n===== RESULTS =====")


print("Precision :", precision)
print("Recall :", recall)
print("F1-score :", f1)
print("ROC-AUC :", roc)

MLPClassifier:
[[61  8]
 [ 3 99]]
FP(Type:-  8
FP(Type:-  3
type-1 Error Rate in %: 11.594202898550725
type-2 Error Rate in %: 2.941176470588235

===== RESULTS =====
Precision : 0.9252336448598131
Recall : 0.9705882352941176
F1-score : 0.9473684210526315
ROC-AUC : 0.9273231031543052